In [1]:
library("XML")
library("methods")

In [2]:
df = mtcars
df = cbind(names = rownames(df), df)
rownames(df) = c()
print(head(df))

              names  mpg cyl disp  hp drat    wt  qsec vs am gear carb
1         Mazda RX4 21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
2     Mazda RX4 Wag 21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
3        Datsun 710 22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
4    Hornet 4 Drive 21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
5 Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
6           Valiant 18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [4]:
print("Create XML:")
# Create xml file from data frame
doc = newXMLDoc()
# Simple creation of and XML tree using these functions
top = newXMLNode("CATALOG", doc = doc)
for (row in 1:nrow(df)) {
    cdnode = newXMLNode("CD", parent = top)
    newXMLNode("names", df[row, "names"], parent = cdnode)
    newXMLNode("mpg", df[row, "mpg"], parent = cdnode)
    newXMLNode("wt", df[row, "wt"], parent = cdnode)
    newXMLNode("gear", df[row, "gear"], parent = cdnode)
}
print("Saving file")
cat(saveXML(doc, indent = TRUE,
    prefix = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n",
    file = "mtcars_new.xml"))
print("Completed")

[1] "Create XML:"
[1] "Saving file"
mtcars_new.xml[1] "Completed"

In [5]:
xml_dataframe = xmlToDataFrame("mtcars_new.xml")
head(xml_dataframe)

  names             mpg  wt    gear
1 Mazda RX4         21   2.62  4
2 Mazda RX4 Wag     21   2.875 4
3 Datsun 710        22.8 2.32  4
4 Hornet 4 Drive    21.4 3.215 3
5 Hornet Sportabout 18.7 3.44  3
6 Valiant           18.1 3.46  3