In [1]:
students_1 = data.frame("name" = c('Helen', 'Jolie', 'Kiwi', 'John', 'Mark', 'Tom'),
                        "age" = c(17, 16, 17, 18, 19, 16),
                        "mark" = c(9, 9, 8, 7.5, 7.5, 8),
                        stringsAsFactors = FALSE)

In [2]:
print(students_1)

   name age mark
1 Helen  17  9.0
2 Jolie  16  9.0
3  Kiwi  17  8.0
4  John  18  7.5
5  Mark  19  7.5
6   Tom  16  8.0

In [3]:
str(students_1)

'data.frame':	6 obs. of  3 variables:
 $ name: chr  "Helen" "Jolie" "Kiwi" "John" ...
 $ age : num  17 16 17 18 19 16
 $ mark: num  9 9 8 7.5 7.5 8

In [4]:
name = c('Helen', 'Jolie', 'Kiwi', 'John', 'Mark', 'Tom')
age = c(17, 16, 17, 18, 19, 16)
mark = c(9, 9, 8, 7.5, 7.5, 8)

students = data.frame(name, age, mark, stringsAsFactors = FALSE)

In [5]:
str(students)

'data.frame':	6 obs. of  3 variables:
 $ name: chr  "Helen" "Jolie" "Kiwi" "John" ...
 $ age : num  17 16 17 18 19 16
 $ mark: num  9 9 8 7.5 7.5 8

In [6]:
# get mark column as vector
print(students$mark)

[1] 9.0 9.0 8.0 7.5 7.5 8.0

In [8]:
# get age column as data.frame
print(data.frame(students$age))

  students.age
1           17
2           16
3           17
4           18
5           19
6           16

In [10]:
# Get 2 first rows
print(students[1:2,])

   name age mark
1 Helen  17    9
2 Jolie  16    9

In [11]:
# Get rows 3, 5 & columns 1,2
print(students[c(3, 5), c(1, 2)])

  name age
3 Kiwi  17
5 Mark  19

In [12]:
# Add column to dataframe
students$class = c('K256_S7N', 'K256_S7N', 'K256_S24', 'K256_S7N', 'K256_S24', 'K256_C7N')

In [13]:
students

  name  age mark class
1 Helen 17  9.0  K256_S7N
2 Jolie 16  9.0  K256_S7N
3 Kiwi  17  8.0  K256_S24
4 John  18  7.5  K256_S7N
5 Mark  19  7.5  K256_S24
6 Tom   16  8.0  K256_C7N

In [15]:
df_POB = data.frame("POB" = c("UK", "US", "EU", "UK", "US", "EU"))
students = cbind(students, df_POB)

In [16]:
students

  name  age mark class    POB
1 Helen 17  9.0  K256_S7N UK
2 Jolie 16  9.0  K256_S7N US
3 Kiwi  17  8.0  K256_S24 EU
4 John  18  7.5  K256_S7N UK
5 Mark  19  7.5  K256_S24 US
6 Tom   16  8.0  K256_C7N EU

In [17]:
new_students = data.frame("name" = c("Sunny", 'Lucy'),
                          "age" = c(17, 18),
                          "mark" = c(8, 9),
                          "class" = c("k256_C7N", "k256_S24"),
                          "POB" = c("EU", "UK"),
                          stringsAsFactors = FALSE)

In [18]:
students = rbind(students, new_students)
students

  name  age mark class    POB
1 Helen 17  9.0  K256_S7N UK
2 Jolie 16  9.0  K256_S7N US
3 Kiwi  17  8.0  K256_S24 EU
4 John  18  7.5  K256_S7N UK
5 Mark  19  7.5  K256_S24 US
6 Tom   16  8.0  K256_C7N EU
7 Sunny 17  8.0  k256_C7N EU
8 Lucy  18  9.0  k256_S24 UK

In [19]:
# Rename
names(students)[names(students)=="POB"] = "Place_of_birth"
head(students)

  name  age mark class    Place_of_birth
1 Helen 17  9.0  K256_S7N UK
2 Jolie 16  9.0  K256_S7N US
3 Kiwi  17  8.0  K256_S24 EU
4 John  18  7.5  K256_S7N UK
5 Mark  19  7.5  K256_S24 US
6 Tom   16  8.0  K256_C7N EU