In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --

<U+221A> ggplot2 3.3.3     <U+221A> purrr   0.3.4
<U+221A> tibble  3.0.4     <U+221A> dplyr   1.0.2
<U+221A> tidyr   1.1.2     <U+221A> stringr 1.4.0
<U+221A> readr   1.4.0     <U+221A> forcats 0.5.0

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
pokemon = read.csv('../../Data/pokemon.csv')

In [3]:
head(pokemon)

  X. Name                  Type.1 Type.2 Total HP Attack Defense Sp..Atk
1 1  Bulbasaur             Grass  Poison 318   45  49     49      65
2 2  Ivysaur               Grass  Poison 405   60  62     63      80
3 3  Venusaur              Grass  Poison 525   80  82     83     100
4 3  VenusaurMega Venusaur Grass  Poison 625   80 100    123     122
5 4  Charmander            Fire          309   39  52     43      60
6 5  Charmeleon            Fire          405   58  64     58      80
  Sp..Def Speed Generation Legendary
1  65     45    1          False
2  80     60    1          False
3 100     80    1          False
4 120     80    1          False
5  50     65    1          False
6  65     80    1          False

# Select

In [4]:
pokemon_sub = select(pokemon, c(2, 5, 7, 8))
head(pokemon_sub)

  Name                  Total Attack Defense
1 Bulbasaur             318    49     49
2 Ivysaur               405    62     63
3 Venusaur              525    82     83
4 VenusaurMega Venusaur 625   100    123
5 Charmander            309    52     43
6 Charmeleon            405    64     58

In [5]:
pokemon_sub = pokemon %>% select(Name, Total, Attack, Defense)
head(pokemon_sub)

  Name                  Total Attack Defense
1 Bulbasaur             318    49     49
2 Ivysaur               405    62     63
3 Venusaur              525    82     83
4 VenusaurMega Venusaur 625   100    123
5 Charmander            309    52     43
6 Charmeleon            405    64     58

In [6]:
pokemon_numbers = select_if(pokemon, is.numeric)
head(pokemon_numbers)

  X. Total HP Attack Defense Sp..Atk Sp..Def Speed Generation
1 1  318   45  49     49      65      65     45    1
2 2  405   60  62     63      80      80     60    1
3 3  525   80  82     83     100     100     80    1
4 3  625   80 100    123     122     120     80    1
5 4  309   39  52     43      60      50     65    1
6 5  405   58  64     58      80      65     80    1

# Filter

In [7]:
pokemon_500_600 = filter(pokemon_sub, Total >= 500, Total <=600)
head(pokemon_500_600)

  Name                Total Attack Defense
1 Venusaur            525    82     83
2 Charizard           534    84     78
3 Blastoise           530    83    100
4 PidgeotMega Pidgeot 579    80     80
5 Nidoqueen           505    92     87
6 Nidoking            505   102     77

In [8]:
nrow(pokemon_500_600)

[1] 199

# Mutate

In [9]:
pokemon_sub = mutate(pokemon_sub, Compare = ifelse(Attack > Defense, 1, 0))
head(pokemon_sub)

  Name                  Total Attack Defense Compare
1 Bulbasaur             318    49     49     0
2 Ivysaur               405    62     63     0
3 Venusaur              525    82     83     0
4 VenusaurMega Venusaur 625   100    123     0
5 Charmander            309    52     43     1
6 Charmeleon            405    64     58     1

# Arrange

In [10]:
head(arrange(pokemon_sub, Total))

  Name      Total Attack Defense Compare
1 Sunkern   180   30     30      0
2 Azurill   190   20     40      0
3 Kricketot 194   25     41      0
4 Caterpie  195   30     35      0
5 Weedle    195   35     30      1
6 Wurmple   195   45     35      1

In [11]:
head(arrange(pokemon_sub, desc(Total)))

  Name                  Total Attack Defense Compare
1 MewtwoMega Mewtwo X   780   190    100     1
2 MewtwoMega Mewtwo Y   780   150     70     1
3 RayquazaMega Rayquaza 780   180    100     1
4 KyogrePrimal Kyogre   770   150     90     1
5 GroudonPrimal Groudon 770   180    160     1
6 Arceus                720   120    120     0

In [12]:
head(arrange(pokemon_sub, desc(Total), desc(Attack)))

  Name                  Total Attack Defense Compare
1 MewtwoMega Mewtwo X   780   190    100     1
2 RayquazaMega Rayquaza 780   180    100     1
3 MewtwoMega Mewtwo Y   780   150     70     1
4 GroudonPrimal Groudon 770   180    160     1
5 KyogrePrimal Kyogre   770   150     90     1
6 Arceus                720   120    120     0

# Summarize, group_by

In [13]:
group = group_by(pokemon, Type.1)
summary = summarize(group, count = n(),
                    mean.Attack = mean(Attack, na.rm = T),
                    median.Attack = median(Attack, na.rm = T),
                    mean.Defense = mean(Defense, na.rm = T),
                    median.Defense = median(Defense, na.rm = T))
summary

`summarise()` ungrouping output (override with `.groups` argument)

   Type.1   count mean.Attack median.Attack mean.Defense median.Defense
1  Bug       69    70.97101    65.0          70.72464     60.0
2  Dark      31    88.38710    88.0          70.22581     70.0
3  Dragon    32   112.12500   113.5          86.37500     90.0
4  Electric  44    69.09091    65.0          66.29545     65.0
5  Fairy     17    61.52941    52.0          65.70588     66.0
6  Fighting  27    96.77778   100.0          65.92593     70.0
7  Fire      52    84.76923    84.5          67.76923     64.0
8  Flying     4    78.75000    85.0          66.25000     75.0
9  Ghost     32    73.78125    66.0          81.18750     72.5
10 Grass     70    73.21429    70.0          70.80000     66.0
11 Ground    32    95.75000    85.0          84.84375     84.5
12 Ice       24    72.75000    67.0          71.41667     75.0
13 Normal    98    73.46939    70.5          59.84694     60.0
14 Poison    28    74.67857    74.0          68.82143     67.0
15 Psychic   57    71.45614    57.0          67.68421     65.0
16 Rock      44    92.86364    95.0         100.79545    100.0
17 Steel     27    92.70370    89.0         126.37037    120.0
18 Water    112    74.15179    72.0          72.94643     70.0

# Count

In [14]:
count(pokemon, Type.1)

   Type.1   n
1  Bug       69
2  Dark      31
3  Dragon    32
4  Electric  44
5  Fairy     17
6  Fighting  27
7  Fire      52
8  Flying     4
9  Ghost     32
10 Grass     70
11 Ground    32
12 Ice       24
13 Normal    98
14 Poison    28
15 Psychic   57
16 Rock      44
17 Steel     27
18 Water    112

In [20]:
df_new = count(pokemon, Type.1)
df_new = mutate(df_new, Percentage = df_new$n / nrow(pokemon))

In [21]:
df_new

   Type.1   n   Percentage
1  Bug       69 0.08625
2  Dark      31 0.03875
3  Dragon    32 0.04000
4  Electric  44 0.05500
5  Fairy     17 0.02125
6  Fighting  27 0.03375
7  Fire      52 0.06500
8  Flying     4 0.00500
9  Ghost     32 0.04000
10 Grass     70 0.08750
11 Ground    32 0.04000
12 Ice       24 0.03000
13 Normal    98 0.12250
14 Poison    28 0.03500
15 Psychic   57 0.07125
16 Rock      44 0.05500
17 Steel     27 0.03375
18 Water    112 0.14000

# Sample_n

In [22]:
pokemon %>% sample_n(5)

  X.  Name              Type.1   Type.2 Total HP Attack Defense Sp..Atk Sp..Def
1 101 Electrode         Electric        480   60  50     70     80       80
2 269 Dustox            Bug      Poison 385   60  50     70     50       90
3 416 Vespiquen         Bug      Flying 474   70  80    102     80      102
4 303 MawileMega Mawile Steel    Fairy  480   50 105    125     55       95
5 212 ScizorMega Scizor Bug      Steel  600   70 150    140     65      100
  Speed Generation Legendary
1 140   1          False
2  65   3          False
3  40   4          False
4  50   3          False
5  75   2          False

# sample_frac

In [23]:
sub_5_per = pokemon %>% sample_frac(0.05)
dim(sub_5_per)

[1] 40 13