In [34]:
# import thu vien
from mysql.connector import connect

In [35]:
# ket noi den CSDL
conn = connect(host='172.24.40.247', database='salesdb', user='hv', password='123456', 
               port='3306')

In [36]:
# xin cap cursor
cur = conn.cursor()

In [37]:
# chuan bi cau lenh va cho thuc hien
stm = '''
SELECT Country, COUNT(*) AS dem
FROM customers
GROUP BY Country
ORDER BY dem DESC
'''
cur.execute(stm)

In [39]:
# doc va in ra
for row in cur:
    print(row)

In [40]:
stm = """
SELECT *
FROM customers
WHERE Country='Germany'
"""
cur.execute(stm)
# doc va in ra
for row in cur:
    print(row)

(1, 'Maria', 'Anders', 'Berlin', 'Germany', '030-0074321')
(6, 'Hanna', 'Moos', 'Mannheim', 'Germany', '0621-08460')
(17, 'Sven', 'Ottlieb', 'Aachen', 'Germany', '0241-039123')
(25, 'Peter', 'Franken', 'München', 'Germany', '089-0877310')
(39, 'Philip', 'Cramer', 'Brandenburg', 'Germany', '0555-09876')
(44, 'Renate', 'Messner', 'Frankfurt a.M.', 'Germany', '069-0245984')
(52, 'Alexander', 'Feuer', 'Leipzig', 'Germany', '0342-023176')
(56, 'Henriette', 'Pfalzheim', 'Köln', 'Germany', '0221-0644327')
(63, 'Horst', 'Kloss', 'Cunewalde', 'Germany', '0372-035188')
(79, 'Karin', 'Josephs', 'Münster', 'Germany', '0251-031259')
(86, 'Rita', 'Müller', 'Stuttgart', 'Germany', '0711-020361')

In [32]:
cur.close()

True

In [33]:
conn.close()