In [2]:
df = read.table("../../Data/Table0.txt")

In [3]:
print("Content of file:")
print(df)

[1] "Content of file:"
        V1 V2  V3 V4 V5
1     Alex 25 177 57  F
2    Lilly 31 163 69  F
3     Mark 23 190 83  M
4   Oliver 52 179 75  M
5   Martha 76 163 70  F
6    Lucas 49 183 83  M
7 Caroline 26 164 53  F

In [4]:
names(df) = c('Name', 'Age', 'Height', 'Weight', 'Sex')
print(df)

      Name Age Height Weight Sex
1     Alex  25    177     57   F
2    Lilly  31    163     69   F
3     Mark  23    190     83   M
4   Oliver  52    179     75   M
5   Martha  76    163     70   F
6    Lucas  49    183     83   M
7 Caroline  26    164     53   F

In [6]:
row.names(df) = df$Name
print(df)

             Name Age Height Weight Sex
Alex         Alex  25    177     57   F
Lilly       Lilly  31    163     69   F
Mark         Mark  23    190     83   M
Oliver     Oliver  52    179     75   M
Martha     Martha  76    163     70   F
Lucas       Lucas  49    183     83   M
Caroline Caroline  26    164     53   F

In [7]:
df$Name = NULL
print('Content of data frame:')
print(df)

[1] "Content of data frame:"
         Age Height Weight Sex
Alex      25    177     57   F
Lilly     31    163     69   F
Mark      23    190     83   M
Oliver    52    179     75   M
Martha    76    163     70   F
Lucas     49    183     83   M
Caroline  26    164     53   F

In [8]:
print('Write to file...')
write.table(df, file="Table0_new.txt")
print('Write completed')

[1] "Write to file..."
[1] "Write completed"