In [6]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --

<U+221A> ggplot2 3.3.3     <U+221A> purrr   0.3.4
<U+221A> tibble  3.0.4     <U+221A> dplyr   1.0.2
<U+221A> tidyr   1.1.2     <U+221A> stringr 1.4.0
<U+221A> readr   1.4.0     <U+221A> forcats 0.5.0

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [3]:
df = read.table("../../Data/Table6.txt", skip = 1, header = TRUE, flush = TRUE, comment.char = '@', stringsAsFactors = FALSE)

In [4]:
print('Content of file after reading')
print(head(df))

[1] "Content of file after reading"
    Name Age Height Weight Sex
1   Alex  25    177     57   F
2  Lilly  31    163     69   F
3   Mark  23    190     83   M
4 Oliver  52    179     75   M
5 Martha  76    163     70   F
6  Lucas  49    183     83   M

In [5]:
print('Before dropping')
print(paste('Rows:', nrow(df)))

[1] "Before dropping"
[1] "Rows: 105"

In [7]:
df = df %>% unique()
print('After dropping')
print(paste('Rows:', nrow(df)))

[1] "After dropping"
[1] "Rows: 7"

In [8]:
df

  Name     Age Height Weight Sex
1 Alex     25  177    57     F
2 Lilly    31  163    69     F
3 Mark     23  190    83     M
4 Oliver   52  179    75     M
5 Martha   76  163    70     F
6 Lucas    49  183    83     M
7 Caroline 26  164    53     F

In [9]:
rownames(df) = df$Name
df$Name = NULL
df

         Age Height Weight Sex
Alex     25  177    57     F
Lilly    31  163    69     F
Mark     23  190    83     M
Oliver   52  179    75     M
Martha   76  163    70     F
Lucas    49  183    83     M
Caroline 26  164    53     F

In [10]:
print("Write to file")
write.table(df, file = "Table6_new.txt", sep = "\t")
print("Write completed")

[1] "Write to file"
[1] "Write completed"

In [11]:
df_new = read.table('Table6_new.txt')
print("Read saved file:")
print(df_new)

[1] "Read saved file:"
         Age Height Weight Sex
Alex      25    177     57   F
Lilly     31    163     69   F
Mark      23    190     83   M
Oliver    52    179     75   M
Martha    76    163     70   F
Lucas     49    183     83   M
Caroline  26    164     53   F