In [2]:
df = read.csv('../../Data/states2.csv', row.names = 1, sep = ";", dec = ",")

In [3]:
print(head(df))

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766

In [4]:
df_1 = subset(df, df$Income > 4500 & df$Population > 10000)

In [5]:
print("Data subset of income > 4500 and population > 10000")
print(df_1)

[1] "Data subset of income > 4500 and population > 10000"
           Population Income Illiteracy Life.Exp Murder HS.Grad Frost   Area
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Illinois        11197   5107        0.9    70.14   10.3    52.6   127  55748
New York        18076   4903        1.4    70.55   10.9    52.7    82  47831
Ohio            10735   4561        0.8    70.82    7.4    53.2   124  40975

In [6]:
write.csv(df_1, file = "states_income.csv")

In [7]:
df_a = read.csv('states_income.csv', row.names = 1)

In [8]:
print("Data in states_income.csv")
print(df_a)

[1] "Data in states_income.csv"
           Population Income Illiteracy Life.Exp Murder HS.Grad Frost   Area
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Illinois        11197   5107        0.9    70.14   10.3    52.6   127  55748
New York        18076   4903        1.4    70.55   10.9    52.7    82  47831
Ohio            10735   4561        0.8    70.82    7.4    53.2   124  40975

In [9]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --

<U+221A> ggplot2 3.3.3     <U+221A> purrr   0.3.4
<U+221A> tibble  3.0.4     <U+221A> dplyr   1.0.2
<U+221A> tidyr   1.1.2     <U+221A> stringr 1.4.0
<U+221A> readr   1.4.0     <U+221A> forcats 0.5.0

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [10]:
df_2 = df %>% filter(Income > 4500, df$Population > 10000)
df_2

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Illinois   11197      5107   0.9        70.14    10.3   52.6    127    55748
New York   18076      4903   1.4        70.55    10.9   52.7     82    47831
Ohio       10735      4561   0.8        70.82     7.4   53.2    124    40975