In [1]:
library("xlsx")

In [2]:
data = read.csv('../../Data/medals.csv')

In [3]:
head(data)

  Year City     Sport      Discipline     NOC Event           Event.gender
1 1924 Chamonix Skating    Figure skating AUT individual      M
2 1924 Chamonix Skating    Figure skating AUT individual      W
3 1924 Chamonix Skating    Figure skating AUT pairs           X
4 1924 Chamonix Bobsleigh  Bobsleigh      BEL four-man        M
5 1924 Chamonix Ice Hockey Ice Hockey     CAN ice hockey      M
6 1924 Chamonix Biathlon   Biathlon       FIN military patrol M
  Medal
1 Silver
2 Gold
3 Gold
4 Bronze
5 Gold
6 Silver

In [5]:
print(paste("Data type:", class(data)))
print(paste("Number of rows:", nrow(data)))
print(paste("Number of cols:", ncol(data)))
print(paste("Name of columns:", toString(names(data))))

[1] "Data type: data.frame"
[1] "Number of rows: 2314"
[1] "Number of cols: 8"
[1] "Name of columns: Year, City, Sport, Discipline, NOC, Event, Event.gender, Medal"

In [6]:
data_1932_skiing = subset(data, data$Year == 1932 & data$Sport == 'Skiing')
print("Dataset of year = 1932 and Sport = Skiing ")
data_1932_skiing

[1] "Dataset of year = 1932 and Sport = Skiing "

    Year City        Sport  Discipline      NOC Event
100 1932 Lake Placid Skiing Cross Country S FIN 18km
101 1932 Lake Placid Skiing Cross Country S FIN 50km
102 1932 Lake Placid Skiing Cross Country S FIN 50km
110 1932 Lake Placid Skiing Cross Country S NOR 50km
111 1932 Lake Placid Skiing Nordic Combined NOR individual
112 1932 Lake Placid Skiing Nordic Combined NOR individual
113 1932 Lake Placid Skiing Nordic Combined NOR individual
114 1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
115 1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
116 1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
119 1932 Lake Placid Skiing Cross Country S SWE 18km
120 1932 Lake Placid Skiing Cross Country S SWE 18km
    Event.gender Medal
100 M            Bronze
101 M            Gold
102 M            Silver
110 M            Bronze
111 M            Bronze
112 M            Gold
113 M            Silver
114 M            Bronze
115 M            Gold
116 M            Silver
119 M            Gold
120 M            Silver

In [7]:
print("Write to file")
write.xlsx(data_1932_skiing, file = 'medals_new.xlsx', sheetName = "1932_skiing", append = TRUE)
print("Finish")

[1] "Write to file"
[1] "Finish"