## Chapter 4 – Exercise 4:  Sử dụng Mysql Connector để thực hiện các truy vấn có tham số

#### Học viên thực hiện các yêu cầu sau và đối chiếu với kết quả cho trước (nếu có):

In [1]:
from mysql.connector import connect
import mysql.connector

In [2]:
conn = connect(host='127.0.0.1', database='salesdb', user='root', password='123456', 
               port='3306')

In [3]:
# xin cap cursor
cur = conn.cursor()

In [4]:
def run_sql(sql, data):
    cur.execute(sql, data)

    row = cur.fetchone()
    while row:
        print(row)
        row = cur.fetchone()

In [ ]:
# Câu 1: Liệt kê danh sách các sản phẩm do công ty 'Tokyo Traders' cung cấp, với tham số tên công ty do người dùng nhập vào
sql = '''
SELECT * 
FROM salesdb.products p 
JOIN salesdb.suppliers sp ON p.SupplierId=sp.Id
WHERE sp.CompanyName = %s;'''

name = input('Nhập tên nhà cung cấp: ')
data = (name,)

run_sql(sql, data)

<details>
  <summary>Nhấn vào đây để xem kết quả!</summary>
  <pre>Nhập tên nhà cung cấp: Tokyo Traders
(9, 'Mishi Kobe Niku', 4, Decimal('97.00'), '18 - 500 g pkgs.', 1, 'Tokyo Traders')
(10, 'Ikura', 4, Decimal('31.00'), '12 - 200 ml jars', 0, 'Tokyo Traders')
(74, 'Longlife Tofu', 4, Decimal('10.00'), '5 kg pkg.', 0, 'Tokyo Traders')
</pre>
  
</details>

In [7]:
# Câu 2: Cập nhật đơn giá tăng thêm 3usd cho các sản phẩm do công ty 'Tokyo Traders' cung cấp, 
# với tham số đơn giá tăng và tên công ty do người dùng nhập vào

sql = '''
UPDATE products p INNER JOIN suppliers sp
ON p.SupplierId=sp.Id
SET p.UnitPrice = p.UnitPrice + %s
WHERE sp.CompanyName = %s;'''

name = input('Nhập tên nhà cung cấp: ')
price = input('Nhập giá trị tăng thêm')
data = (price, name)

run_sql(sql, data)

Nhập tên nhà cung cấp:  Tokyo Traders
Nhập giá trị tăng thêm 3

<details>
  <summary>Nhấn vào đây để xem kết quả!</summary>
  <pre>Nhập giá trị đơn giá tăng thêm: 3
Nhập tên nhà cung cấp: Tokyo Traders
</pre>
  
</details>

In [6]:
# Câu 3: Thêm sản phẩm mới vào bảng Products với các giá trị tương ứng do người dùng nhập vào. 
# Sau khi thêm, xuất thông báo hỏi người dùng có thêm tiếp hay không (Y/N). 
# Nếu trả lời Y sẽ cho phép thêm tiếp sản phẩm mới, nếu trả lời N sẽ thoát quá trình thêm sản phẩm.
def create_product():
    product_id = input('Nhập ID:')
    product_name = input('Nhập tên:')
    supplier_id = input('Nhập ID nhà cung cấp:')
    product_price = input('Nhập giá:')
    product_package = input('Nhập package:')

    sql = """INSERT INTO `salesdb`.`products` 
    (`Id`, `ProductName`, `SupplierId`, `UnitPrice`, `Package`, `IsDiscontinued`) 
    VALUES (%s, %s, %s, %s, %s, 0);
    """

    data = (product_id, product_name, supplier_id, product_price, product_package)
    try:
        cur.execute(sql, data)
        conn.commit()
    except mysql.connector.Error as err:
            print(err)

create_product()

confirm = input('Tiếp tục Y/N')
while confirm == 'Y':
    create_product()

Nhập ID: 79
Nhập tên: test
Nhập ID nhà cung cấp: 25
Nhập giá: 10
Nhập package: test
Tiếp tục Y/N N

In [8]:
# Câu 4: Xóa thông tin đơn đặt hàng theo số đặt hàng (OrderId), trong đó số đặt hàng do người dùng nhập vào

sql = """DELETE FROM `salesdb`.`orders` WHERE (`Id` = %s);"""

order_id = input('Nhập id')
data = (order_id,)

cur.execute(sql, data)
conn.commit()

Nhập id 830

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CASCADE FROM `salesdb`.`orders` WHERE (`Id` = '830')' at line 1

In [15]:
cur.close()
conn.close()