In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
# 3-1
houses = pd.read_csv('Tai_nguyen_cung_cap/brazilian_houses_to_rent/houses_to_rent.csv')
houses.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240.0,3,3.0,4,NaN,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64.0,2,1.0,1,10.0,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443.0,5,5.0,4,3.0,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73.0,2,NaN,1,12.0,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19.0,1,NaN,0,NaN,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [3]:
houses.tail()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
6075,6075,1,50.0,2,1.0,1,2.0,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,6076,1,84.0,2,2.0,1,16.0,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,6077,0,48.0,1,1.0,0,13.0,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,6078,1,160.0,3,2.0,2,NaN,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,6079,1,60.0,2,1.0,1,4.0,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"

In [4]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      6080 non-null   int64
 1   city            6080 non-null   int64
 2   area            6063 non-null   float64
 3   rooms           6080 non-null   int64
 4   bathroom        5959 non-null   float64
 5   parking spaces  6080 non-null   int64
 6   floor           4525 non-null   float64
 7   animal          6080 non-null   object
 8   furniture       6080 non-null   object
 9   hoa             6080 non-null   object
 10  rent amount     6080 non-null   object
 11  property tax    6080 non-null   object
 12  fire insurance  6080 non-null   object
 13  total           6080 non-null   object
dtypes: float64(3), int64(4), object(7)
memory usage: 665.1+ KB

In [5]:
houses.describe()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor
count,6080.00000,6080.000000,6063.000000,6080.000000,5959.000000,6080.000000,4525.000000
mean,3039.50000,0.863322,151.174336,2.492599,2.346535,1.756250,7.621436
std,1755.28915,0.343535,376.028573,1.129665,1.441567,1.611909,6.023028
min,0.00000,0.000000,10.000000,1.000000,1.000000,0.000000,1.000000
25%,1519.75000,1.000000,58.000000,2.000000,1.000000,1.000000,3.000000
50%,3039.50000,1.000000,100.000000,3.000000,2.000000,1.000000,6.000000
75%,4559.25000,1.000000,200.000000,3.000000,3.000000,2.000000,11.000000
max,6079.00000,1.000000,24606.000000,10.000000,10.000000,12.000000,99.000000

In [6]:
#3-2
print('so dong la:', houses.shape[0])
print('so cot la:', houses.shape[1])

so dong la: 6080
so cot la: 14

In [7]:
# 3-3
houses.rooms.value_counts(sort = True)[:5]

3    1994
2    1621
1    1398
4     879
5     143
Name: rooms, dtype: int64

In [8]:
#3-4
houses.columns[houses.isnull().any()]

Index(['area', 'bathroom', 'floor'], dtype='object')

In [9]:
#3-5
houses.drop(columns = ['property tax','fire insurance','total'], inplace= True)
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      6080 non-null   int64
 1   city            6080 non-null   int64
 2   area            6063 non-null   float64
 3   rooms           6080 non-null   int64
 4   bathroom        5959 non-null   float64
 5   parking spaces  6080 non-null   int64
 6   floor           4525 non-null   float64
 7   animal          6080 non-null   object
 8   furniture       6080 non-null   object
 9   hoa             6080 non-null   object
 10  rent amount     6080 non-null   object
dtypes: float64(3), int64(4), object(4)
memory usage: 522.6+ KB

In [16]:
#3-6
houses['rent amount'] = houses['rent amount'].map(lambda x: x.lstrip('R$').rstrip('0-9'))
houses['rent amount'] = houses['rent amount'].str.replace(',', '').astype('float')

ValueError: could not convert string to float: ''

In [11]:
#3-7

In [ ]:
#3-8
houses['area'].fillna(houses['area'].median())

In [ ]:
# 3-9
sb.jointplot(x="rooms", y="bathroom", data=houses)

In [ ]:
#3-10
houses['rooms'].fillna(0)
houses['bathroom'].fillna(0)
np.corrcoef(houses['rooms'],houses['bathroom'])

In [ ]:
# 3-11
sb.countplot('rooms', data = houses)

# loai nha co 1-3 phong chiem da so

In [ ]:
# 3-12
plt.pie(houses['city'].value_counts(), autopct='%1.1f%%')
plt.title('Percent of city category')
plt.legend(['1','0'])
plt.show()

In [ ]:
# Cau 3-13
plt.boxplot(houses.area)
plt.show()

In [ ]:
# Cau 3-15
sb.lmplot(x = 'animal', y ='rent amount', hue='animal' , data = houses)