In [6]:
import sqlite3

In [7]:
conn = sqlite3.connect('mydb.db')

c = conn.cursor()

In [3]:
sql = "CREATE TABLE pets(ID INT PRIMARY KEY, name TEXT, age INT)"

c.execute(sql)

In [8]:
sql = "INSERT INTO pets VALUES(1,'Cat', 3)"

c.execute(sql)

In [9]:
conn.commit()

In [10]:
c.close()
conn.close()