In [1]:
setwd("E:\\Data Science\\07 R Programming Language for Data Science\\Data")

In [2]:
library("xlsx")

# Read excel file

In [3]:
data = read.xlsx("emp_data.xlsx", sheetIndex = 1)
print(data)

  id     name salary start_date       dept
1  1     Rick 623.30 2012-01-01         IT
2  2      Dan 515.20 2013-09-23 Operations
3  3 Michelle 611.00 2014-11-15         IT
4  4     Ryan 729.00 2014-05-11         HR
5        Gary 843.25 2015-03-27    Finance
6  6     Nina 578.00 2013-05-21         IT
7  7    Simon 632.80 2013-07-30 Operations
8  8     Guru 722.50 2014-06-17    Finance

In [4]:
data = read.xlsx("emp_data.xlsx", sheetName = "city")
print(data)

      name    city
1     Rick Seattle
2      Dan   Tampa
3 Michelle Chicago
4     Ryan Seattle
5     Gary Houston
6     Nina  Boston
7    Simon  Mumbai
8     Guru  Dallas

# Write excel file

In [5]:
data = read.csv("emp.csv")
retval = subset(data, dept == "IT")
print(retval)

  id     name salary start_date dept
1  1     Rick  623.3 2012-01-01   IT
3  3 Michelle  611.0 2014-11-15   IT
6  6     Nina  578.0 2013-05-21   IT

In [6]:
write.xlsx(retval, file = "emp_data.xlsx", sheetName = "Sheet1", append = FALSE)
newdata = read.xlsx("emp_data.xlsx", sheetName = "Sheet1")
print(newdata)

  NA. id     name salary start_date dept
1   1  1     Rick  623.3 2012-01-01   IT
2   3  3 Michelle  611.0 2014-11-15   IT
3   6  6     Nina  578.0 2013-05-21   IT