# Part 1: List

In [1]:
# Create title, actors, reviews
title = "The Shining"
actors_vector <- c("Jack Nicholson","Shelley Duvall","Danny Lloyd","Scatman Crothers","Barry Nelson")
reviews_factor <- factor(c("Good", "OK", "Good", "Perfect", "Bad", "Perfect", "Good"), 
                  ordered = TRUE, levels = c("Bad", "OK", "Good", "Perfect"))

# Create the list 'shining_list' from 3 vectors shining_list = listabove
shining_list = list(title, actors_vector, reviews_factor)
# Select the last actor from list: last_actor
last_actor = actors_vector[length(actors_vector)]
print(paste("Last actor:", last_actor))
# Select the second review from list: second_review
second_review = reviews_factor[2]
print(paste("Second revew:", second_review))
# Add the element 'release_year' = 1980 to shining_list
release_year = 1980
shining_list[length(shining_list) + 1] = release_year
# Add the element 'director' = "Stanley Kubrick" to shining_list
director = "Stanley Kubrick"
shining_list[length(shining_list) + 1] = director
# Print list shining_list
print(shining_list)
# Print the structure of shining_list
str(shining_list)

[1] "Last actor: Barry Nelson"
[1] "Second revew: OK"
[[1]]
[1] "The Shining"

[[2]]
[1] "Jack Nicholson"   "Shelley Duvall"   "Danny Lloyd"      "Scatman Crothers"
[5] "Barry Nelson"

[[3]]
[1] Good    OK      Good    Perfect Bad     Perfect Good
Levels: Bad < OK < Good < Perfect

[[4]]
[1] 1980

[[5]]
[1] "Stanley Kubrick"

List of 5
 $ : chr "The Shining"
 $ : chr [1:5] "Jack Nicholson" "Shelley Duvall" "Danny Lloyd" "Scatman Crothers" ...
 $ : Ord.factor w/ 4 levels "Bad"<"OK"<"Good"<..: 3 2 3 4 1 4 3
 $ : num 1980
 $ : chr "Stanley Kubrick"

# Part 2: Hãy thực hiện những yêu cầu sau với R-core dataframe và/ hoặc Tidyverse
1. Cho dữ liệu mtcars cho sẵn trong R datasets. Đọc dữ liệu. Hiển thị thông tin một số dòng đầu của dữ liệu. In thông tin thống kê chung.
2. Tạo sub_data chỉ có các thông tin mpg, hp, wt, gear
3. Tạp cột mới km_per_litre trong sub_data theo công thức: 1 mpg = 0.425 km/l
4. Tạo sub_data_unique lấy từ mtcars nhưng loại bỏ các dòng trùng (dùng distinct()
5. In sub_data_unique với giá trị được sắp xếp giảm dần theo mpg, tăng dần theo hp
6. Lọc các xe mà trong tên xe có 'Mazda' trong sub_data_unique. Có bao nhiêu xe thỏa điều kiện này?
7. Trong sub_data_unique, cho biết giá trị mpg lớn nhất? Có những dòng dữ liệu nào có mpg = mpg lớn nhất, in kết quả.
8. Lọc các dữ liệu thỏa các điểu kiện sau: mpg >= 25 và cyl=4 và gear=4
9. Thực hiện việc thống kê theo cyl, từ đó cho biết số lượng từng nhóm, cyl, hp lớn nhất, mpg nhỏ nhất
10. Trong sub_data, cho biết xe nào có km_per_litre lớn nhất, nhỏ nhất?

#### Note: dùng df = cbind(names = rownames(df), df) hoặc rownames_to_column(df, var = "names"): chuyển cột index thành cột "names"

In [2]:
# install.packages("tidyverse")

In [3]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --

<U+221A> ggplot2 3.3.3     <U+221A> purrr   0.3.4
<U+221A> tibble  3.0.4     <U+221A> dplyr   1.0.2
<U+221A> tidyr   1.1.2     <U+221A> stringr 1.4.0
<U+221A> readr   1.4.0     <U+221A> forcats 0.5.0

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [4]:
#1.
head(mtcars)
# ...

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [5]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [6]:
# 2
sub_data = mtcars[c('mpg', 'hp', 'wt', 'gear')]

In [7]:
# 3
sub_data = mutate(sub_data, km_per_litre = sub_data$mpg * 0.425)

In [8]:
# 4
sub_data_unique = distinct(mtcars)

In [9]:
# 5
arrange(sub_data_unique, desc(mpg), desc(hp))

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4

In [10]:
# 6
count(sub_data_unique, 'Mazda')

  "Mazda" n
1 Mazda   32

In [11]:
# 7
max_mpg = max(sub_data_unique['mpg'])
print(paste("Max mpg:", max_mpg))
filter(sub_data_unique, mpg == max_mpg)

[1] "Max mpg: 33.9"

               mpg  cyl disp hp drat wt    qsec vs am gear carb
Toyota Corolla 33.9 4   71.1 65 4.22 1.835 19.9 1  1  4    1

In [12]:
# 8
filter(sub_data_unique, mpg >= 25, cyl==4, gear==4)

               mpg  cyl disp hp drat wt    qsec  vs am gear carb
Fiat 128       32.4 4   78.7 66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4   75.7 52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4   71.1 65 4.22 1.835 19.90 1  1  4    1
Fiat X1-9      27.3 4   79.0 66 4.08 1.935 18.90 1  1  4    1

In [13]:
# 9
group = group_by(sub_data_unique, cyl)
summary = summarize(group, count = n(),
                    max.cyl = max(cyl, na.rm = T),
                    max.hp = max(hp, na.rm = T),
                    min.mpg = min(mpg, na.rm = T))
summary

`summarise()` ungrouping output (override with `.groups` argument)

  cyl count max.cyl max.hp min.mpg
1 4   11    4       113    21.4
2 6    7    6       175    17.8
3 8   14    8       335    10.4

In [16]:
# 10

min_km_per_litre = min(sub_data['km_per_litre'])
print(paste("min_km_per_litre:", min_km_per_litre))
max_km_per_litre = max(sub_data['km_per_litre'])
print(paste("max_km_per_litre:", max_km_per_litre))

[1] "min_km_per_litre: 4.42"
[1] "max_km_per_litre: 14.4075"