In [1]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --

<U+221A> ggplot2 3.3.3     <U+221A> purrr   0.3.4
<U+221A> tibble  3.0.4     <U+221A> dplyr   1.0.2
<U+221A> tidyr   1.1.2     <U+221A> stringr 1.4.0
<U+221A> readr   1.4.0     <U+221A> forcats 0.5.0

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [2]:
data = read.csv('../../Data/Obesity_data.csv')
print(head(data))

  id gender height weight  bmi age  bmc  bmd   fat  lean pcfat
1  1      F    150     49 21.8  53 1312 0.88 17802 28600  37.3
2  2      M    165     52 19.1  65 1309 0.84  8381 40229  16.8
3  3      F    157     57 23.1  64 1230 0.84 19221 36057  34.0
4  4      F    156     53 21.8  56 1171 0.80 17472 33094  33.8
5  5      M    160     51 19.9  54 1681 0.98  7336 40621  14.8
6  6      F    153     47 20.1  52 1358 0.91 14904 30068  32.2

In [3]:
data_1 = data %>% select(c(2, 3, 4, 5, 6))
print(head(data_1))

  gender height weight  bmi age
1      F    150     49 21.8  53
2      M    165     52 19.1  65
3      F    157     57 23.1  64
4      F    156     53 21.8  56
5      M    160     51 19.9  54
6      F    153     47 20.1  52

In [4]:
data_2 = data_1 %>% filter(bmi >= 18.5, bmi <= 24.9)
print(head(data_2))

  gender height weight  bmi age
1      F    150     49 21.8  53
2      M    165     52 19.1  65
3      F    157     57 23.1  64
4      F    156     53 21.8  56
5      M    160     51 19.9  54
6      F    153     47 20.1  52

In [6]:
print(paste("Rows have bmi >= 18.5 and <= 24.9:", nrow(data_2)))

[1] "Rows have bmi >= 18.5 and <= 24.9: 865"

In [7]:
data_1 = mutate(data_1, height_m = height / 100)
head(data_1)

  gender height weight bmi  age height_m
1 F      150    49     21.8 53  1.50
2 M      165    52     19.1 65  1.65
3 F      157    57     23.1 64  1.57
4 F      156    53     21.8 56  1.56
5 M      160    51     19.9 54  1.60
6 F      153    47     20.1 52  1.53

In [8]:
head(arrange(data_1, bmi))

  gender height weight bmi  age height_m
1 M      162    38     14.5 55  1.62
2 F      162    40     15.2 54  1.62
3 F      151    35     15.4 33  1.51
4 F      155    37     15.4 44  1.55
5 F      150    35     15.6 24  1.50
6 M      169    45     15.8 50  1.69

In [10]:
group = group_by(data_1, gender)
summary = summarize(group, count = n(),
                    mean.height = mean(height, na.rm = T),
                    mean.weight = mean(weight, na.rm = T))
summary

`summarise()` ungrouping output (override with `.groups` argument)

  gender count mean.height mean.weight
1 F      862   153.2912    52.31090
2 M      355   165.0592    62.02254

In [11]:
count(data_1, gender)

  gender n
1 F      862
2 M      355

In [12]:
group_gender_age = count(data_1, gender, age)
head(group_gender_age)

  gender age n
1 F      14   4
2 F      16   2
3 F      18  10
4 F      19  27
5 F      20  13
6 F      21   8

In [13]:
tail(group_gender_age)

    gender age n
138 M      82  1
139 M      83  1
140 M      84  3
141 M      85  1
142 M      87  1
143 M      88  1

In [14]:
data_3 = data_1 %>% sample_n(10)
data_3

   gender height weight bmi  age height_m
1  M      162    61     23.2 43  1.62
2  M      160    54     21.1 76  1.60
3  F      150    62     27.6 62  1.50
4  M      156    55     22.6 62  1.56
5  F      153    48     20.5 55  1.53
6  F      155    50     20.8 21  1.55
7  F      153    71     30.3 57  1.53
8  F      150    35     15.6 24  1.50
9  F      153    47     20.1 52  1.53
10 F      158    62     24.8 48  1.58

In [15]:
data_4 = data_1 %>% sample_frac(0.01)
data_4

   gender height weight bmi  age height_m
1  F      155    57     23.7 49  1.55
2  M      154    55     23.2 78  1.54
3  M      166    67     24.3 23  1.66
4  F      155    47     19.6 42  1.55
5  M      170    50     17.3 68  1.70
6  M      180    75     23.1 23  1.80
7  M      164    56     20.8 36  1.64
8  F      149    50     22.5 57  1.49
9  F      152    41     17.7 40  1.52
10 M      173    60     20.0 22  1.73
11 F      155    45     18.7 30  1.55
12 F      160    56     21.9 14  1.60