# Chapter 4 - Exercise 2: Hãy thực hiện những yêu cầu liên quan tới Data Frame


### Thực hiện các yêu cầu sau, và đối chiếu với kết quả Output (nếu có):

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Câu 1: Tạo Data Frame từ dictionary như sau: 
# dic_1 = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}. In data frame này
dic_1 = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df1 = pd.DataFrame(dic_1)
print(df1)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [3]:
# Câu 2: Tạo Data Frame df2 từ dictionary exam_data, với index của data frame là lables đã cho,
#        và In data frame vừa tạo và in info() của data frame

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5,np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df2 = pd.DataFrame(exam_data, labels)
print(df2)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [4]:
# In info() của data frame
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [5]:
# Câu 3: Tạo data frame mới từ data frame df2, chỉ chứa 2 cột là name và score.  
#        In type, shape của data frame này. 
df3 = df2[['name','score']]
print(type(df3))
print(df3.shape)

<class 'pandas.core.frame.DataFrame'>
(10, 2)

In [6]:
# In head của data frame này
print(df3.head())

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0

In [7]:
# Câu 4: Tạo data frame mới từ data frame df2, chỉ chứa 2 cột là name và score, và chỉ có các dòng 1, 3, 5, 6
# In data frame này
df4 = df2.iloc[[1, 3, 5, 6],[0, 1]]
print(df4)

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right">
      <th></th>
      <th>name</th>
      <th>score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>b</th>
      <td>Dima</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>d</th>
      <td>James</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>f</th>
      <td>Michael</td>
      <td>20.0</td>
    </tr>
    <tr>
      <th>g</th>
      <td>Matthew</td>
      <td>14.5</td>
    </tr>
  </tbody>
</table>
</div>

</details>

In [8]:
# Câu 5: Từ data frame df2, In các dòng có dữ liệu score bị null
print(df2[df2['score'].isnull()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right">
      <th></th>
      <th>name</th>
      <th>score</th>
      <th>attempts</th>
      <th>qualify</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>d</th>
      <td>James</td>
      <td>NaN</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>h</th>
      <td>Laura</td>
      <td>NaN</td>
      <td>1</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

</details>

In [9]:
# Câu 6: Từ data frame df2, In các dòng có score > 15 và <=20
print(df2[(df2['score'] > 15) & (df2['score'] <= 20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right">
      <th></th>
      <th>name</th>
      <th>score</th>
      <th>attempts</th>
      <th>qualify</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>c</th>
      <td>Katherine</td>
      <td>16.5</td>
      <td>2</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>f</th>
      <td>Michael</td>
      <td>20.0</td>
      <td>3</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>j</th>
      <td>Jonas</td>
      <td>19.0</td>
      <td>1</td>
      <td>yes</td>
    </tr>
  </tbody>
</table>
</div>

</details>

In [10]:
# Câu 7: Cập nhật điểm ở dòng 'd' thành 18
df2.loc['d','score'] = 18
print(df2)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   18.0         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [11]:
# Câu 8: Hiển thị thông tin thống kê chung của df2
df2.describe()

           score   attempts
count   9.000000  10.000000
mean   14.055556   1.900000
std     4.633064   0.875595
min     8.000000   1.000000
25%     9.000000   1.000000
50%    14.500000   2.000000
75%    18.000000   2.750000
max    20.000000   3.000000

In [12]:
# Câu 9: Cho biết điểm mấy có tần suất xuất hiện nhiều nhất? In những dòng này. 
mark = df2['score'].mode()
print(mark[0])
score = df2[(df2['score'] == mark[0])]
print(score)

9.0
    name  score  attempts qualify
b   Dima    9.0         3      no
e  Emily    9.0         2      no

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
<pre>9.0
</pre>
    
<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right">
      <th></th>
      <th>name</th>
      <th>score</th>
      <th>attempts</th>
      <th>qualify</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>b</th>
      <td>Dima</td>
      <td>9.0</td>
      <td>3</td>
      <td>no</td>
    </tr>
    <tr>
      <th>e</th>
      <td>Emily</td>
      <td>9.0</td>
      <td>2</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

</details>

In [13]:
# Cho biết có bao nhiêu dòng thỏa điều kiện?
print(score.shape[0])

2

In [14]:
# Câu 10: Thêm dòng k có nội dung như sau: ['Suresh', 15.5, 1, 'yes'] vào df2
df2.loc['k'] =  ['Suresh', 15.5, 1, 'yes']
print(df2)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   18.0         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [15]:
# Câu 11: Thêm dòng l có nội dung như sau: ['Janny', 12.5, 2, 'yes'] vào df2. In tail của df2.
df2.loc['l'] =  ['Janny', 12.5, 2, 'yes']
df2.tail()

     name  score  attempts qualify
h   Laura    NaN         1      no
i   Kevin    8.0         2      no
j   Jonas   19.0         1     yes
k  Suresh   15.5         1     yes
l   Janny   12.5         2     yes

In [16]:
#  Xóa bỏ dòng l của df2. In lại tail.
df2.drop(['l'],inplace = True)
df2.tail()

      name  score  attempts qualify
g  Matthew   14.5         1     yes
h    Laura    NaN         1      no
i    Kevin    8.0         2      no
j    Jonas   19.0         1     yes
k   Suresh   15.5         1     yes

In [17]:
# Câu 12: Sắp xếp df2 tăng dần theo điểm
df2['score'] = df2['score'].apply(pd.to_numeric) 
df2 = df2.sort_values(by='score')
print(df2)

        name  score  attempts qualify
i      Kevin    8.0         2      no
b       Dima    9.0         3      no
e      Emily    9.0         2      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
k     Suresh   15.5         1     yes
c  Katherine   16.5         2     yes
d      James   18.0         3      no
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
h      Laura    NaN         1      no

In [18]:
# Câu 13: Thêm cột result căn cứ dữ liệu của cột 'score', nếu >=10 thì giá trị = 1, ngược lại = 0
df2['result'] = df2['score'].map(lambda x: 1 if x > 10 else 0)
print(df2)

        name  score  attempts qualify  result
i      Kevin    8.0         2      no       0
b       Dima    9.0         3      no       0
e      Emily    9.0         2      no       0
a  Anastasia   12.5         1     yes       1
g    Matthew   14.5         1     yes       1
k     Suresh   15.5         1     yes       1
c  Katherine   16.5         2     yes       1
d      James   18.0         3      no       1
j      Jonas   19.0         1     yes       1
f    Michael   20.0         3     yes       1
h      Laura    NaN         1      no       0

In [19]:
# Câu 14: Trong df2, thay tên 'Emily' thành 'Samantha'
df2['name'] = df2['name'].replace('Emily', 'Samantha')
print(df2)

        name  score  attempts qualify  result
i      Kevin    8.0         2      no       0
b       Dima    9.0         3      no       0
e   Samantha    9.0         2      no       0
a  Anastasia   12.5         1     yes       1
g    Matthew   14.5         1     yes       1
k     Suresh   15.5         1     yes       1
c  Katherine   16.5         2     yes       1
d      James   18.0         3      no       1
j      Jonas   19.0         1     yes       1
f    Michael   20.0         3     yes       1
h      Laura    NaN         1      no       0

In [23]:
# Câu 15: Duyệt df2, in name, score, result: nếu = 1 thì in 'Pass', ngược lại thì in 'Fail'
for index ,st in df2.iterrows():
    print(st['name'], ', Score: ', st.score, ', Result: ', 'Pass' if st.result == 1 else 'Fail')

Kevin , Score:  8.0 , Result:  Fail
Dima , Score:  9.0 , Result:  Fail
Samantha , Score:  9.0 , Result:  Fail
Anastasia , Score:  12.5 , Result:  Pass
Matthew , Score:  14.5 , Result:  Pass
Suresh , Score:  15.5 , Result:  Pass
Katherine , Score:  16.5 , Result:  Pass
James , Score:  18.0 , Result:  Pass
Jonas , Score:  19.0 , Result:  Pass
Michael , Score:  20.0 , Result:  Pass
Laura , Score:  nan , Result:  Fail

<details>
  <summary>Nhấn vào đây để xem kết quả !</summary>
<pre>Kevin  - Score: 8.0  - Result: Fail
Dima  - Score: 9.0  - Result: Fail
Samantha  - Score: 9.0  - Result: Fail
Anastasia  - Score: 12.5  - Result: Pass
Matthew  - Score: 14.5  - Result: Pass
Suresh  - Score: 15.5  - Result: Pass
Katherine  - Score: 16.5  - Result: Pass
James  - Score: 18.0  - Result: Pass
Jonas  - Score: 19.0  - Result: Pass
Michael  - Score: 20.0  - Result: Pass
Laura  - Score: nan  - Result: Fail
</pre>

</details>