In [1]:
setwd("E:\\Data Science\\07 R Programming Language for Data Science\\Data")

# Read csv file

In [2]:
data = read.csv("emp.csv")
print(data)

  id     name salary start_date       dept
1  1     Rick 623.30 2012-01-01         IT
2  2      Dan 515.20 2013-09-23 Operations
3  3 Michelle 611.00 2014-11-15         IT
4  4     Ryan 729.00 2014-05-11         HR
5 NA     Gary 843.25 2015-03-27    Finance
6  6     Nina 578.00 2013-05-21         IT
7  7    Simon 632.80 2013-07-30 Operations
8  8     Guru 722.50 2014-06-17    Finance

In [3]:
print(is.data.frame(data))
print(ncol(data))
print(nrow(data))

[1] TRUE
[1] 5
[1] 8

In [4]:
print(paste("Max salary:", max(data$salary)))
print(paste("Mean salary:", mean(data$salary)))
print("People have max salary:")
print(subset(data, salary == max(data$salary)))

[1] "Max salary: 843.25"
[1] "Mean salary: 656.88125"
[1] "People have max salary:"
  id name salary start_date    dept
5 NA Gary 843.25 2015-03-27 Finance

In [5]:
library(tidyverse)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.0 --

<U+221A> ggplot2 3.3.3     <U+221A> purrr   0.3.4
<U+221A> tibble  3.0.4     <U+221A> dplyr   1.0.2
<U+221A> tidyr   1.1.2     <U+221A> stringr 1.4.0
<U+221A> readr   1.4.0     <U+221A> forcats 0.5.0

-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [6]:
max_sal = filter(data, salary == max(salary))

print("People have max salary:")
print(subset(data, salary == max_sal))

[1] "People have max salary:"
[1] id         name       salary     start_date dept
<0 rows> (or 0-length row.names)

In [7]:
# Get all the people woking in IT department
retval = subset(data, dept == "IT")
print(retval)

  id     name salary start_date dept
1  1     Rick  623.3 2012-01-01   IT
3  3 Michelle  611.0 2014-11-15   IT
6  6     Nina  578.0 2013-05-21   IT

In [8]:
# Get all the people woking in IT department whose salary is greater than 600
info = subset(data, dept == "IT" & salary > 600)
print(info)

  id     name salary start_date dept
1  1     Rick  623.3 2012-01-01   IT
3  3 Michelle  611.0 2014-11-15   IT

In [10]:
# Get the people who joined on or after 2014
retval = subset(data, as.Date(start_date) > as.Date("2014-01-01"))
print(retval)

  id     name salary start_date    dept
3  3 Michelle 611.00 2014-11-15      IT
4  4     Ryan 729.00 2014-05-11      HR
5 NA     Gary 843.25 2015-03-27 Finance
8  8     Guru 722.50 2014-06-17 Finance

# write csv file

In [11]:
# Get all the people woking in IT department
it_emps = subset(data, dept == "IT")
# write it_emps data into a new file
write.csv(it_emps, "it_emps.csv")
newdata = read.csv("it_emps.csv")
print(newdata)

  X id     name salary start_date dept
1 1  1     Rick  623.3 2012-01-01   IT
2 3  3 Michelle  611.0 2014-11-15   IT
3 6  6     Nina  578.0 2013-05-21   IT