In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df_sv = pd.DataFrame({'Name': ['John', 'Lucy', 'Lily', 'Mark', 'Tom'],
                      'Sex': ['Male', 'Female', 'Other', 'Male', 'Male'],
                       'Age': [16, 17, 16, 17, 15],})
df_sv

   Name     Sex  Age
0  John    Male   16
1  Lucy  Female   17
2  Lily   Other   16
3  Mark    Male   17
4   Tom    Male   15

In [7]:
encoder = OneHotEncoder()
df_sv_new = encoder.fit_transform(df_sv[['Sex']]).toarray()
df_sv_new = pd.DataFrame(df_sv_new, columns=['Female', 'Male', 'Others'])

In [8]:
df_sv_new

   Female  Male  Others
0     0.0   1.0     0.0
1     1.0   0.0     0.0
2     0.0   0.0     1.0
3     0.0   1.0     0.0
4     0.0   1.0     0.0

In [9]:
df_sv = pd.concat([df_sv, df_sv_new], axis=1)
df_sv

   Name     Sex  Age  Female  Male  Others
0  John    Male   16     0.0   1.0     0.0
1  Lucy  Female   17     1.0   0.0     0.0
2  Lily   Other   16     0.0   0.0     1.0
3  Mark    Male   17     0.0   1.0     0.0
4   Tom    Male   15     0.0   1.0     0.0