In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import glob

## Vấn đề:
* Dữ liệu được lưu trữ trên nhiều table/file
* Biến 'Year' được để trong tệp tin

In [8]:
allFiles = glob.glob('../data/201*-baby-names-illinois.csv')
frame = pd.DataFrame()
df_list = []
for file_ in allFiles:
    df = pd.read_csv(file_, index_col=None, header=0)
    print(file_, df.shape)
    df.comlumns = map(str.lower, df.columns)
    df['year'] = file_[8:12]
    df_list.append(df)

../data\2014-baby-names-illinois.csv (101, 4)
../data\2015-baby-names-illinois.csv (100, 4)

<ipython-input-8-bbf06fb93f33>:7: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.comlumns = map(str.lower, df.columns)

In [9]:
df4 = pd.concat(df_list)
df4.head()

   rank       name  frequency   sex  year
0     1       Noah        837  Male  2014
1     2  Alexander        747  Male  2014
2     3    William        687  Male  2014
3     4    Michael        680  Male  2014
4     5       Liam        670  Male  2014