In [1]:
year = c(2008:2018)
month = c(1:12)
day = c(1:31)

In [2]:
year_month_day.list = list("year"=year, "month"=month, "day"=day)
print("List year_month_day:")
print(year_month_day.list)

[1] "List year_month_day:"
$year
 [1] 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018

$month
 [1]  1  2  3  4  5  6  7  8  9 10 11 12

$day
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31

In [3]:
year_month_day.list$year = c(2010:2020)
print("List year_month_day after change:")
print(year_month_day.list)

[1] "List year_month_day after change:"
$year
 [1] 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020

$month
 [1]  1  2  3  4  5  6  7  8  9 10 11 12

$day
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31

In [4]:
x = length(year_month_day.list$year)
year_month_day.list$year = year_month_day.list$year[-1]

print("After drop the first year in year")
print(year_month_day.list)

[1] "After drop the first year in year"
$year
 [1] 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020

$month
 [1]  1  2  3  4  5  6  7  8  9 10 11 12

$day
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31

In [6]:
x = c(1, 3, 4, 7, 11, 18, 29)
cal.list = list("x*2" = x*2, "x/2"= x/2, "sqrt(x)"= sqrt(x))
print("List calculator")
print(cal.list)

print("3 middle elements")
print(cal.list$`sqrt(x)`[3:5])

[1] "List calculator"
$`x*2`
[1]  2  6  8 14 22 36 58

$`x/2`
[1]  0.5  1.5  2.0  3.5  5.5  9.0 14.5

$`sqrt(x)`
[1] 1.000000 1.732051 2.000000 2.645751 3.316625 4.242641 5.385165

[1] "3 middle elements"
[1] 2.000000 2.645751 3.316625

In [7]:
year_month_day.list = c(year_month_day.list, cal.list)
print("year_month_day.list: ")
print(year_month_day.list)

[1] "year_month_day.list: "
$year
 [1] 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020

$month
 [1]  1  2  3  4  5  6  7  8  9 10 11 12

$day
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31

$`x*2`
[1]  2  6  8 14 22 36 58

$`x/2`
[1]  0.5  1.5  2.0  3.5  5.5  9.0 14.5

$`sqrt(x)`
[1] 1.000000 1.732051 2.000000 2.645751 3.316625 4.242641 5.385165

In [12]:
year_x2_day = year_month_day.list[c("year", "x*2", "day")]
print("List year_x2_day")
print(year_x2_day)

[1] "List year_x2_day"
$year
 [1] 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020

$`x*2`
[1]  2  6  8 14 22 36 58

$day
 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31

In [13]:
print(paste("Length of x*2", length(year_x2_day$`x*2`)))
print(paste("last value of year:", year_x2_day$year[length(year_x2_day$year)]))

[1] "Length of x*2 7"
[1] "last value of year: 2020"