In [1]:
import numpy as np
import pandas as pd

In [2]:
X = np.array([["Red", "Sports", "Domestic"],
              ["Red", "Sports", "Domestic"], 
              ["Red", "Sports", "Domestic"], 
              ["Yellow", "Sports", "Domestic"], 
              ["Yellow", "Sports", "Imported"],
              ["Yellow", "SUV", "Imported"], 
              ["Yellow", "SUV", "Imported"], 
              ["Yellow", "SUV", "Domestic"],
              ["Red", "SUV", "Imported"], 
              ["Red", "Sports", "Imported"]])
Y = np.array(["Yes", "No", "Yes", "No", "Yes", "No", "Yes", "No", "No", "Yes"])

In [3]:
X = pd.DataFrame(X, columns=['color', 'type', 'orgin'])
X_now = pd.get_dummies(X)
X_now

,color_Red,color_Yellow,type_SUV,type_Sports,orgin_Domestic,orgin_Imported
0,1,0,0,1,1,0
1,1,0,0,1,1,0
2,1,0,0,1,1,0
3,0,1,0,1,1,0
4,0,1,0,1,0,1
5,0,1,1,0,0,1
6,0,1,1,0,0,1
7,0,1,1,0,1,0
8,1,0,1,0,0,1
9,1,0,0,1,0,1

In [4]:
Y = pd.DataFrame(Y, columns=['stolen'])
Y_now = pd.get_dummies(Y, drop_first=True)
Y_now

   stolen_Yes
0           1
1           0
2           1
3           0
4           1
5           0
6           1
7           0
8           0
9           1

In [5]:
from sklearn.naive_bayes import BernoulliNB

In [6]:
clf = BernoulliNB()
clf.fit(X_now, Y_now)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

BernoulliNB()

In [7]:
X_new = [[1, 0, 1, 0, 1, 0], # Red SUV Domestic
         [0, 1, 0, 1, 0, 1]] # Yellow Sport Imported

In [8]:
predicted = clf.predict(X_new)
predicted

array([0, 1], dtype=uint8)

In [9]:
from sklearn.naive_bayes import GaussianNB

In [10]:
model = GaussianNB()

In [11]:
model.fit(X_now, Y_now)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [ ]:
predicted = model.predict(X_new)
predicted